In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mydf = pd.read_csv('dataset.csv')
mydf

,S.No.,States/ Indicators,Literacy Rate - ST,Literacy Rate - All,Sex-Ratio - ST,Sex-Ratio - All,Gross Enrollment Ratio (GER) at Secondary Level 2021-22 - ST,Gross Enrollment Ratio (GER) at Secondary Level 2021-22 - All
0,1,Chhattisgarh,59.1,70.3,1020,991,70.5,78.3
1,2,Jharkhand,57.1,66.4,1003,948,61.4,68.4
2,3,Madhya Pradesh,50.6,69.3,984,931,59.4,70.0
3,4,Rajasthan,52.8,66.1,948,928,76.8,79.2
4,5,Odisha,52.2,72.9,1029,979,84.2,80.3
5,6,Maharashtra,65.7,82.3,977,929,93.8,93.7
6,7,Gujarat,62.5,78.0,981,919,76.2,75.2
7,8,Andhra Pradesh,48.8,67.4,1009,993,81.6,85.4
8,9,West Bengal,57.9,76.3,999,950,102.5,88.2
9,10,Karnataka,62.1,75.4,990,973,91.8,94.7